.posts-container {
    max-width: 800px;
    margin: auto;
    padding-top: 1rem; /* 16px */
    padding-bottom: 1rem; /* 16px */
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* 40px */
}
