.sign-button {
    position: relative;
    display: flex;
    color: #fff;
    margin-left: 50px;
    padding: 10px;
}

.sign-action {
    font-size: 1.5em;
    opacity: 0.5;
    transition: 0.5s;
    padding: 12px;
    cursor: pointer;
}
.sign-action:hover {
    color: #5da6ff;
    opacity: 1;
    text-shadow: #5da6ff;
}

