.reg-container {
    width: 400px;
    margin: 20px auto;
    padding: 20px;
    min-width: 350px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-right: 1px solid rgba(255, 255, 255, 0.2);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    z-index: 10;
    backdrop-filter: blur(25px);
}

.reg-title {
    color: white;
    text-align: center;
}
.reg-label {
    color: rgb(156 163 175);
}

.reg-input {
    color: black;
    width: 100%;
    background: gray;
    margin-top: 4px;
    border-radius: 8px;
    border-width: 1px;
    padding: 4px 8px;
    outline: none;
}
.reg-input::placeholder {
    color: rgb(55 65 81)
}

.reg-actions {
    display: flex;
    gap: 32px;
    margin-top: 16px;
    justify-content: center;
}
.reg-actions-button {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border: none;
    background: rgb(75 85 99);
    border-radius: 2px;
    padding: 4px 8px;
    cursor: pointer;
}
.reg-actions-link {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
