.background-picker-container {
    max-width: 340px;
    max-height: 140px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin: 8px;
}
.background-picker-label {

    width: calc(25% - 40px);
    cursor: pointer;
    padding: 2px;
    margin: 5px 20px;
    border: 1px solid black;
    height: 40px;
}
.background-picker-label:hover {
    border: 4px solid #0076ff;
    box-shadow: 0 0 10px 5px #5da6ff;
}

.background-picker-input:checked + .background-picker-label {
    border: 4px solid #0076ff;
    box-shadow: 0 0 10px 5px #5da6ff;
}
