.no-posts {
    color: white;
    text-align: center;
    padding: 10px;
}
.main-container {
    width: 50%;
    margin: auto;
    padding-top: 1rem; /* 16px */
    padding-bottom: 1rem; /* 16px */
    display: flex;
    flex-direction: column;
    gap: 2.5rem; /* 40px */
}
.main-wrapper {
    display: flex;
    justify-content: space-around;
}
.posts {
    display: flex;
    flex-direction: column;
}

.popular-container {
    color: white;
    text-transform: uppercase;
}
.popular {
    color: white;
    text-transform: uppercase;
}
