.post-item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px auto;
  padding: 20px;
  width: 100%;
  min-width: 350px;
  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0 25px 45px rgba(0, 0, 0, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 10px;
  z-index: 10;
  backdrop-filter: blur(25px);
}
.post-item-wrapper {
  width: 100%;
}
.post-item-wrapper-photo-container {
  display: flex;
  flex-direction: column;
  flex-basis: 25%;
  flex-grow: 1;
}
.post-item-wrapper-photo {
  border-radius: 2px;
  display: flex;
}
.post-item-wrapper-photo.empty {
  border-radius: 2px;
  display: flex;
  height: 0;
}
.post-item-wrapper-img {
  object-fit: cover;
  width: 100%;
}
.post-item-wrapper-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 8px;
}
.post-item-wrapper-info-user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.post-item-wrapper-actions {
  display: flex;
    justify-content: space-between;
    align-items: center;
  padding-top: 8px;
}
.post-item-wrapper-inner {
  padding-top: 8px;
}
.post-item-wrapper-span {
  color: white;
  opacity: 0.6;
  font-size: 14px;
    padding: 6px;
}
.post-item-wrapper-username {
  color: white;
  opacity: 50;
  font-size: 26px;
  font-weight: 700;
  cursor: pointer;
}
.post-item-wrapper-username:hover {
  text-decoration: underline;
}
.post-item-wrapper-date {
  color: white;
  opacity: 50;
}
.post-item-wrapper-title {
    padding: 16px 6px 4px;
    opacity: 60;
    word-break: break-all;
  color: white;
}
.post-item-wrapper-text {
    padding: 8px 6px;
  color: white;
  opacity: 60;
    word-break: break-all;
}
.post-item-wrapper-icons-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
  margin-top: 8px;
}
.post-item-wrapper-icons {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 16px;
}
.post-item-wrapper-content-view {
  display: flex;
  justify-content: left;
  align-items: flex-end;
  color: white;
  font-size: 12px;
    padding-left: 20px;
  cursor: pointer;
}
.post-item-wrapper-content-view:hover {
  color: #5da6ff;
}
.post-item-wrapper-user-icons {
    position: absolute;
    right: 20px;
  display: flex;
  justify-content: right;
  align-items: flex-end;
  padding: 5px 20px;
}
.post-item-wrapper-user-icons-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  gap: 8px;
  color: white;
  transition: 0.5s;
  opacity: 50;
  cursor: pointer;
}
.post-item-wrapper-user-icons-button:hover {
  color: #e91e63;
  box-shadow: 0 0 60px #e91e63;
}
